    @import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
    body {
        font-family: Comfortaa, 'Times New Roman', Times, serif;
        background-color: #eeeeee;
        margin: 0;
        color: #444444;
    }
    
    .nav-bar {
        display: flex;
        background-color: mintcream;
        padding: 30px 30px;
        width: 20%;
    }
    
    .nav-left {
        display: flex;
        padding: 40px 40px;
    }
    
    .nav-right {
        display: flex;
        padding: 40px 40px;
    }
    
    .nav-item {
        padding: 40px 40px;
        background-color: rgb(247, 222, 222);
        border-radius: 50px;
        align-self: center;
        border: 20px;
    }