    @import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lato:wght@300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    * {
        font-family: ('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    }
    
    .title-bar {
        font-size: 40px;
        color: blue;
        flex: 4;
    }
    
    .nav-bar {
        display: flex;
        flex: 4;
        margin: auto;
    }
    
    #home-bar {
        background-color: rgb(211, 168, 155);
        margin: 30px 30px;
        font-size: 30px;
    }
    
    #foster-bar {
        background-color: rgb(211, 168, 155);
        margin: 30px 30px;
        font-size: 30px;
    }
    
    #pets-bar {
        background-color: rgb(211, 168, 155);
        margin: 30px 30px;
        font-size: 30px;
    }
    
    #contact-bar {
        background-color: rgb(211, 168, 155);
        margin: 30px 30px;
        font-size: 30px;
    }