/* .parag-wrapper {
    background-color: aliceblue;
    color: rgb(228, 52, 52);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#pag-wrapper {
    color: blue;
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
} */